@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* -------------- */

.header {
  padding: 18px 0px 0px 0px;
  min-height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__column:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0px 3% 0px 0px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 366px;
}

.logo-abbreviation__link {
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #E1E1E1;
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45.6%;
          flex: 0 1 45.6%;
}

.logo-abbreviation__link:hover {
  color: orange;
}

.logo-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.48px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55.4%;
          flex: 0 1 55.4%;
  border-left: 2px solid #89AFEF;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0px 0px 2px 25px;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin: 0px 18px 0px 0px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link_wh {
  background: #2DD038;
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
}

.socials__link_wh:hover {
  background: #17bb22;
  -webkit-box-shadow: 0px 8px 12px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 12px rgba(45, 208, 56, 0.497678);
}

.socials__link_vb {
  background: #7B519D;
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
}

.socials__link_vb:hover {
  background: #6b3994;
  -webkit-box-shadow: 0px 8px 12px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 12px rgba(123, 81, 157, 0.503797);
}

.socials__link_tg {
  background: #5BBAF0;
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
}

.socials__link_tg:hover {
  background: #39a6e6;
  -webkit-box-shadow: 0px 8px 12px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 12px rgba(91, 186, 240, 0.5);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7px 28px 0px 0px;
}

.contacts__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  margin: 0px 0px 4px 0px;
  position: relative;
}

._no-webp .contacts__phone::before{
  background-image: url("../img/phone.png"); }

.contacts__phone::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 0px 0px 0px -25px;
}

.contacts__phone:hover {
  color: orange;
}

.contacts__email {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
  position: relative;
}

._no-webp .contacts__email::before{
  background-image: url("../img/email.png"); }

.contacts__email::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 12px;
  margin: 0px 0px 0px 3px;
}

.contacts__email:hover {
  color: orange;
}

.order-call-btn {
  padding: 12px 27px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.47px;
  margin: 5px 0px 0px 0px;
}

.order-call-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#eeac41), to(#e67a3b));
  background: -o-linear-gradient(left, #eeac41 0%, #e67a3b 100%);
  background: linear-gradient(90deg, #eeac41 0%, #e67a3b 100%);
  -webkit-box-shadow: 0px 8px 9px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 9px rgba(242, 147, 81, 0.450503);
}

.btn {
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
}

._no-webp .hero{
  background: url("../img/bg/hero-bg.png") top right no-repeat, #FAFAFB; }

.hero {
  min-height: 695px;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.menu__link:hover {
  color: orange;
  text-decoration: underline;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
}

.hero__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.5%;
          flex: 0 1 41.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 58.5%;
          flex: 0 1 58.5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  margin: 0px 0px 27px 0px;
}

.hero__min-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0px 0px 40px 0px;
}

.hero__min-price span {
  font-weight: 900;
  line-height: 31px;
}

.order-btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), color-stop(100%, #6C80CB), to(#6C80CB));
  background: -o-linear-gradient(left, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 67px;
}

.order-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#6095eb), color-stop(100%, #516ac5), to(#4661c5));
  background: -o-linear-gradient(left, #6095eb 0%, #516ac5 100%, #4661c5 100%);
  background: linear-gradient(90deg, #6095eb 0%, #516ac5 100%, #4661c5 100%);
  -webkit-box-shadow: 0px 12px 10px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 10px rgba(132, 170, 237, 0.454846);
}

.workman-image {
  margin: 10px 0px -6px 0px;
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
}

.footer {
  padding: 56px 0 0 0;
  background-color: #333;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1px;
          flex: 1 1 1px;
  padding: 0 16px;
}

.footer__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin: 0px 0px 29px 0px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.footer__item {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.footer__item:hover {
  text-decoration: underline;
}

.footer-top {
  height: 577px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -16px;
  padding: 0px 0px 60px 0px;
}

.footer-socials__list {
  min-height: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 39px 0px;
}

.footer-socials__item {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials__link:hover {
  text-decoration: underline;
}

._no-webp .footer-socials__list li:nth-child(1) .footer-socials__link::before{
  background-image: url("../img/telegram.png"); }

.footer-socials__list li:nth-child(1) .footer-socials__link::before {
  content: '';
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  height: 14px;
  margin: 0px 18px 0px 0px;
}

._no-webp .footer-socials__list li:nth-child(2) .footer-socials__link::before{
  background-image: url("../img/viber.png"); }

.footer-socials__list li:nth-child(2) .footer-socials__link::before {
  content: '';
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19px;
          flex: 0 0 19px;
  height: 19px;
  margin: 0px 15px 0px 0px;
}

._no-webp .footer-socials__list li:nth-child(3) .footer-socials__link::before{
  background-image: url("../img/whatsupp.png"); }

.footer-socials__list li:nth-child(3) .footer-socials__link::before {
  content: '';
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  height: 18px;
  margin: 0px 14px 0px 0px;
}

.footer-contacts__list {
  margin: 0px 0px 48px 0px;
}

.footer-contacts__item {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  margin: 0px 0px 19px 0px;
}

.footer-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts__link:hover {
  text-decoration: underline;
}

.footer-contacts__list li:nth-child(1) .footer-contacts__link {
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
}

._no-webp .footer-contacts__list li:nth-child(1) .footer-contacts__link::before{
  background-image: url("../img/call-answer.png"); }

.footer-contacts__list li:nth-child(1) .footer-contacts__link::before {
  content: '';
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19px;
          flex: 0 0 19px;
  height: 19px;
  margin: 0px 14px 0px 0px;
}

._no-webp .footer-contacts__list li:nth-child(2) .footer-contacts__link::before{
  background-image: url("../img/white-mail.png"); }

.footer-contacts__list li:nth-child(2) .footer-contacts__link::before {
  content: '';
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21px;
          flex: 0 0 21px;
  height: 15px;
  margin: 0px 14px 0px 0px;
}

.callback-btn {
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
          box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
  border-radius: 3px;
  margin: 0px 0px 51px 0px;
  max-width: 261px;
}

.callback-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#eeac41), to(#e67a3b));
  background: -o-linear-gradient(left, #eeac41 0%, #e67a3b 100%);
  background: linear-gradient(90deg, #eeac41 0%, #e67a3b 100%);
  -webkit-box-shadow: 0px 8px 9px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 9px rgba(242, 147, 81, 0.450503);
}

footer .logo-abbreviation__link {
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  color: rgba(255, 255, 255, 0.12653);
}

footer .logo-abbreviation__link:hover {
  color: orange;
}

.footer-bottom__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #565656;
  padding: 20px 0;
  border-top: 1px solid #4E4E4E;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Gilroy;
}

/* -------------- */

._container {
  max-width: 1140px;
  margin: 0px auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.documents {
  background: #F2F2F2;
}

.documents__title {
  padding: 71px 0px 0px 0px;
  margin: 0px 0px 35px 0px;
}

.documents__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 30px -15px;
}

.documents__row:last-child {
  margin-bottom: 0;
  padding: 0px 0px 70px 0px;
}

.documents__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1px;
          flex: 1 1 1px;
  padding: 0 15px;
  text-align: center;
}

.documents__item {
  background-color: #000;
}

.item-documents {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.item-documents__image {
  padding: 32px 0 0 0;
  margin: 0px 0px 15px 0px;
}

.item-documents__title {
  padding: 0px 0px 32px 0px;
  color: #333;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
}

.item-documents:hover {
  background: #d5f5ff;
}

.advantages {
  background-color: #F6F6F6;
}

.advantages__container {
  padding: 42px 0px 53px 0px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  text-align: center;
  padding: 0px 15px;
}

.advantages__item {
  height: 100%;
}

.item-advantages {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-advantages__image-box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 98px;
  height: 98px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 0px 15px 0px;
}

.item-advantages__image-box picture {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-advantages__title {
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  margin: 0px 0px 10px 0px;
}

.item-advantages__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  padding: 0px 25px;
}

.programms {
  background-color: #F2F2F2;
  color: #333;
  padding: 53px 0 120px 0;
}

.programms__title {
  margin: 0px 0px 28px 0px;
}

.programms__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.programms__column {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
}

.item-programms {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.item-programms__image-box {
  margin: 0px 0px 18px 0px;
}

.item-programms__title {
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  padding: 0 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-programms__state {
  color: #53B43B;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 0px 11px 0px;
}

.item-programms__price {
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
}

.examples {
  background-color: #F6F6F6;
  padding: 48px 0 75px 0;
}

.examples__title {
  padding: 0 0 48px 0;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1000px;
          flex: 0 1 1000px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrow-left:hover {
  cursor: pointer;
}

.arrow-right:hover {
  cursor: pointer;
}

.news {
  background-color: #F2F2F2;
  padding: 52px 0 68px 0;
  color: #333;
}

.news__title {
  margin: 0px 0px 30px 0px;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 42px 0px;
}

.news__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
  text-align: center;
}

.news__column_big {
  min-height: 350px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: left;
  padding: 40px 30px;
}

.news__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

._no-webp .column-news{
  background: url("../img/bg/news-bg.png") right 15px center/contain no-repeat, -webkit-gradient(linear, left top, right top, from(#fafafb), color-stop(90%, #fafafb), color-stop(90%, #f2f2f2), to(#f2f2f2)); }

._no-webp .column-news{
  background: url("../img/bg/news-bg.png") right 15px center/contain no-repeat, -o-linear-gradient(left, #fafafb 0%, #fafafb 90%, #f2f2f2 90%, #f2f2f2 100%); }

._no-webp .column-news{
  background: url("../img/bg/news-bg.png") right 15px center/contain no-repeat, linear-gradient(90deg, #fafafb 0%, #fafafb 90%, #f2f2f2 90%, #f2f2f2 100%); }

.column-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-news__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 52%;
          flex: 1 0 52%;
}

.column-news__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0px 0px 18px 0px;
}

.column-news__title span {
  color: #86ADEF;
}

.column-news__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.item-news {
  padding: 27px 23px 27px 25px;
  text-align: left;
  height: 100%;
}

.item-news__image-box {
  margin: 0px 0px 16px 0px;
}

.item-news__date {
  -webkit-columns: #ABABAB;
     -moz-columns: #ABABAB;
          columns: #ABABAB;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0px 0px 8px 0px;
}

.item-news__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  margin: 0px 0px 7px 0px;
}

.item-news__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.wrapper-for-btn {
  text-align: center;
}

.all-news-btn {
  display: inline-block;
  border: 2px solid #6D81CC;
  border-radius: 3px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #6D81CC;
  padding: 13px 56px;
}

.all-news-btn:hover {
  color: #fff;
  background-color: #6D81CC;
}

._webp .contacts__phone::before{ background-image: url(../img/phone.webp); }

._webp .contacts__email::before{ background-image: url(../img/email.webp); }

._webp .hero{ background: url(../img/bg/hero-bg.webp) top right no-repeat, #FAFAFB; }

._webp .footer-socials__list li:nth-child(1) .footer-socials__link::before{ background-image: url(../img/telegram.webp); }

._webp .footer-socials__list li:nth-child(2) .footer-socials__link::before{ background-image: url(../img/viber.webp); }

._webp .footer-socials__list li:nth-child(3) .footer-socials__link::before{ background-image: url(../img/whatsupp.webp); }

._webp .footer-contacts__list li:nth-child(1) .footer-contacts__link::before{ background-image: url(../img/call-answer.webp); }

._webp .footer-contacts__list li:nth-child(2) .footer-contacts__link::before{ background-image: url(../img/white-mail.webp); }

._webp .column-news{ background: url(../img/bg/news-bg.webp) right 15px center/contain no-repeat, -webkit-gradient(linear, left top, right top, from(#fafafb), color-stop(90%, #fafafb), color-stop(90%, #f2f2f2), to(#f2f2f2)); }

._webp .column-news{ background: url(../img/bg/news-bg.webp) right 15px center/contain no-repeat, -o-linear-gradient(left, #fafafb 0%, #fafafb 90%, #f2f2f2 90%, #f2f2f2 100%); }

._webp .column-news{ background: url(../img/bg/news-bg.webp) right 15px center/contain no-repeat, linear-gradient(90deg, #fafafb 0%, #fafafb 90%, #f2f2f2 90%, #f2f2f2 100%); }